.home-content-wrapper{

  .home-content{

    .lable-div-wrapper{
      display: flex;
      justify-content: space-around;
      margin: 30px 0;
    }
    .table-content{
      display: flex;
      justify-content: center;
      margin: 30px 0;

      .student-table{
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .home-content-wrapper{

    .home-content{

      .table-content{
        margin-top: 50px;

        .student-table{
          width: 65%;
        }
      }
    }
  }
}

@media screen and (max-width: 560px){
  .home-content-wrapper{

    .home-content{

      .lable-div-wrapper{
        display: block;
        margin: 30px 10px;

        .student-detail{
          margin: 15px 0;
        }
      }

      .table-content{
        margin-top: 50px;

        .student-table{
          width: 95%;
        }
      }
    }
  }
}

.ReactModal__Body--open{

  .ReactModalPortal{

    .modal-header{
      h4{
        text-align: center;
      }

      .modal-close-button{
        display: none;
      }
    }
    .modal-body{
      width: 100%;
      margin-bottom: 10px;

      .model-table-cont{
        .pagination-bottom{
          display: none;
        }
      }
    }

    .modal-footer {
      text-align: right;
      border-top: 0;

      button {
        min-width: 50px;
        margin: 2px;
        background-color: rgba(16, 228, 255, 0.86) !important;
        border-width: 1px;
        border-style: none;
        border-color: #000;
        border: 1px solid #23a6c9;
        width: 60px;
        height: 25px;
        border-radius: 3px;
      }
    }
  }
}